// Place all the styles related to the campañas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer{
  background: rgb(99,99,92);
  border-top: 5px solid lighten(rgb(0, 158,226), 10%);
  height: 70px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 30px 0 0 0;
  .row{
    height: 100%;
    div{
      height: 100%;
      line-height: 70px;
    }
    h4{
      font-weight: 100;
      font-size: 1.5em;
      line-height: 45px;
    }
    p{
      font-weight: 100;
      font-size: 1.2em;
      line-height: 65px;
    }
    #icon-twitter{
      background: url(/assets/twitter-bird-light-bgs.png) no-repeat center;
      background-size: 100%;
    }
    #icon-face{
      background: url(/assets/iconofacebook-personalis.png) no-repeat center;
      background-size: 55%;
    }

  }
}
